<div class="container">
    <button class="btn btn-primary" (click)="navigateToCreate()">New</button>
  
    <div class="search-sort">
      <input type="text" [(ngModel)]="search" (input)="onSearchChange(search)" placeholder="Search blogs..." />
      <button class="btn btn-secondary" (click)="resetSearch()">Reset</button>
      <select [(ngModel)]="sortBy" (change)="onSortChange()">
        <option value="username">Username</option>
        <option value="dateCreated">Date Created</option>
      </select>
  
      <select [(ngModel)]="sortDirection" (change)="onSortChange()">
        <option value="asc">Ascending</option>
        <option value="desc">Descending</option>
      </select>
    </div>
  
    <div class="blog-item" *ngFor="let blog of blogs">
      <div class="blog-text">{{ blog.text }}</div>
      <div class="blog-meta">
        Created: {{ blog.username }} | Created date: {{ blog.dateCreated | date }}
      </div>
      <button class="btn btn-info" (click)="viewBlogDetail(blog.id)">View Details</button>
      <button class="btn btn-secondary" (click)="editBlog(blog.id)">Edit</button>
      <button class="btn btn-danger" (click)="deleteBlog(blog.id)">Delete</button>
    </div>
  
    <div class="pagination-controls" *ngIf="totalRecords > pageSize">
      <button class="btn btn-primary" (click)="onPageChange(page - 1)" [disabled]="page === 1">Previous</button>
      <span>Page {{ page }} of {{ totalPages }} | Total Records: {{ totalRecords }}</span>
      <button class="btn btn-primary" (click)="onPageChange(page + 1)" [disabled]="page === totalPages">Next</button>
    </div>
  </div>
  